@model UserQuestionVM


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>QuestionTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.IsResolved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.IsResolved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Answers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Answers)
        </dd>
        @foreach (var item in Model.Answers)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => item.Message)
            </dd>

        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Question.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
