@model UserQuestionVM


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Details</h1>

    <div>
        <hr />
        <div class="card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(model => Model.Question.Message)</h4>
                <hr />
                <div class="card-text">
                    <p> @Html.DisplayFor(model => Model.Question.Message)</p>
                </div>
            </div>
        </div>

        @if (Model.Answers.Count()>0)
        {
            @foreach (var item in Model.Answers)
            {
                <div class="card border-success mb-3">
                    <div class="card-body">
                        <h4 class="card-title">Answer</h4>
                        <hr />
                        <div class="card-text">
                            <p> @Html.DisplayFor(model => item.Message)</p>
                        </div>
                    </div>
                </div>
            }

        }


        <div>
            @if (Model.Question.AuthorId == Model.CurrentUser.Id)
            {
                @Html.ActionLink("Delete", "DeleteQuestion", new { id = Model.Question.Id }, new { @class = "btn btn-danger" });
            }
            @Html.ActionLink("Answer", "Answering", new { id = Model.Question.Id }, new { @class = "btn btn-primary" })
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
