@model IEnumerable<UserQuestionVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-right mb-2">
    <a asp-action="CreateQuestion" class="btn btn-warning">Ask a new question</a>
</div>

@foreach (var item in Model)
{
    <div class="card border-primary mb-3">
        <div class="card-header">
            from @Html.DisplayFor(modelItem => item.QuestionAuthor.UserName)
            <div class="text-right float-right">
                posted @Html.DisplayFor(modelItem => item.Question.Date)
            </div>

        </div>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Question.Title)</h4>
            <div class="card-text">
                <p> @Html.DisplayFor(modelItem => item.Question.Message)</p>
            </div>

            <div class=" text-right">
                @Html.ActionLink("Details", "Details", new { id = item.Question.Id }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Answer", "Answering", "Ask", new { id = item.Question.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

}

