@model IEnumerable<UserQuestionVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.IsResolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.IsResolved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Question.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Question.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Question.Id })
            </td>
        </tr>
}
    </tbody>
</table>
